<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <link rel="stylesheet" href="/assets/css/aboutUs.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <img id="logo" src="https://web.mitsgwalior.in/images/mits-logo.png" alt="">

        <h2>About US</h2>

        <h4><a href="/"> Back </a></h4>
    </div>

    <div class="container">
        <div class="box">

            <h2>Creators</h2>

            <div class="cards-box">
                <div class="card">

                    <div class="cimg">
                        <img src="https://media.licdn.com/dms/image/D4D03AQGp8UQcStxAew/profile-displayphoto-shrink_400_400/0/1673169318492?e=1692230400&v=beta&t=-J0YcJu7Z2WDwpwL0fglYlnRdBMYz2R67yOTUEo760U" alt="">
                    </div>

                    <div class="ctext">
                        <h4>Naveen Mittal</h4>

                        <p>A CSE 3rd Year Student. " I am a normal guy who likes to code, design, edit and play games. " </p>
						<br>
                    </div>

                </div>
                <div class="card">

                    <div class="cimg">
                        <img src="https://media.licdn.com/dms/image/C4D03AQGOlMF5KfRFIg/profile-displayphoto-shrink_400_400/0/1651926211864?e=1692230400&v=beta&t=d8WsXYJz24vKinEjoiQvhWLt6C_BigCDjs4nwc0XLqA" alt="">
                    </div>

                    <div class="ctext">
                        <h4>Bharat Sharma</h4>

                        <p>A CSE 3rd Year Student. " I’m not a great programmer; I’m just a good programmer with great habits. " </p>
                    </div>

                </div>
            </div>

            <h2>Support</h2>

            <div class="cards-box">
                <div class="card">

                    <div class="cimg">
                        <img src="/assets/images/faces/rahul.png" alt="">
                    </div>

                    <div class="ctext">
                        <h4>Rahul Rawat</h4>

                        <p>A CSE 2nd Year Student. " Programmer by day, dreamer by night. " </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>