<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About Us</title>

	<link rel="stylesheet" href="/assets/css/aboutStyle.css">

	<style>
		#dates{
			overflow: visible;
			margin-top: 50px;
		}

		/* #issues{
			margin-top: 50px;
		} */
	</style>
</head>
<body>
	<div id="timeline">
		<ul id="dates">
			<li><a href="#Creators" >Creators</a></li>
			<li><a href="#Supports">Supports</a></li>
		</ul>
		<ul id="issues">
			<li id="Creators" class="selected">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/5.png" />
				<h1>Creators</h1>
				<p>
					Naveen and Bharat launched our college's counseling website in September 2022. Their expertise in web development created a user-friendly platform that has been instrumental in providing support and easy for councelling to students. Their contribution has greatly enhanced the college's counseling services.
					</p>
			</li>
			<li id="Supports">
				<img src="http://www.csslab.cl/ejemplos/timelinr/latest/images/6.png" />
				<h1>Supports</h1>
				<p>Rahul diligently maintains and updates our college's counseling website, ensuring its reliability and responsiveness. His expertise and commitment contribute to a seamless and user-friendly counseling experience.</p>
			</li>
			
		</ul>
		<div id="grad_top"></div>
		<div id="grad_bottom"></div>
		<a href="#Supports" id="next">+</a>
		<a href="#Creators" id="prev">-</a>
	</div>

	<script>
	
	</script>
</body>
</html>