<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUper Admin Creation</title>
</head>
<body>
    <form action="/admin/firstSuperAdmin" enctype="multipart/form-data" method="post">
        Name<input type="text" name="name" id="" required>
        Username<input type="text" name="username" id="" required>
        Password<input type="text" name="password" id="" required>
        Code<input type="text" name="code" id="" required>
        Image <input type="file" name="img" id="">

        <input type="submit" value="Submit">
    </form> 
</body>
</html>